.container {
  width: 340px;
  padding: 20px;
  min-height: 700px;
  overflow: auto;
  border-radius: 10px;
  background-color: #202020;
}

.main {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: solid 2px rgb(103, 104, 105);
}

button {
  display: block;
  padding: 0 20px;
  height: 40px;
  border-radius: 10px;
  background-color: #202020;
  border: solid 1px rgb(103, 104, 105);
  color: rgb(216, 223, 230);
  cursor: pointer;
}

.listItem {
  min-height: 100px;
  line-height: 30px;
  overflow: hidden;
  padding: 10px 10px;
  margin-bottom: 5px;
  border: solid 1px rgb(103, 104, 105);
  border-radius: 10px;
}

.listButton {
  margin-top: 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

input {
  background-color: #202020;
  color: rgb(216, 223, 230);
  width: 330px;
  height: 30px;
  border: solid 1px rgb(103, 104, 105);
  border-radius: 10px;
}

/* .addButton {
  background-color: rgb(28, 114, 235);
  border: none;
} */

button:hover {
  background-color: rgb(28, 114, 235);
  border: none;
}
